.bet-area {
  width: 37%;

  .bet-container {
    width: 378px;
    margin-left: 54px;
    margin-top: 41px;

    @media screen and (max-width: 1480px) {
      width: 320px;
      margin-left: 45px;
    }

    @media screen and (max-width: 1160px) {
      width: 250px;
      margin-left: 35px;
    }

    .arrow-down-stream {
      width: 30px;
      margin: 25px auto;
    }
  }
}
