.game-history-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.5%;

  .game-history {
    width: 175px;
    height: 43px;
    margin-top: 18px;
    margin-left: 25px;
    background: #1b1b1b;
    border-radius: 64.128px;
    text-align: center;
    align-items: center;
    color: #535353;
    padding-top: 7px;
  }
}
