.info-row {
  display: inline-flex;
}

.ping {
  display: flex;

  .ping__content {
    margin-left: 12px;

    .ping__text {
      color: #535353;
      line-height: 15px;
    }
  }
}

.info-btns {
  margin-left: 21px;
  width: 160px;
  display: flex;
  justify-content: space-between;

  .info__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: #272727;
  }
}
