.logo {
  position: absolute;
  left: 55px;
  display: flex;
  align-items: center;
  top: 20px;

  span {
    font-family: 'CeraPro';
    font-size: 25.5px;
    line-height: 32px;
  }

  img {
    margin-right: 10px;
  }

  #dot {
    color: #ff4900;
  }
}
