.theme-dark {
  --background-color: #000000;
  --text-color: #ffffff;
}

.theme-white {
  --background-color: #ffffff;
  --text-color: #000000;
}

$background-color: var(--background-color);
$text-color: var(--text-color);

html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: $background-color;
  color: $text-color;
  height: 100%;
}

.container {
  max-width: 1512px;

  @media screen and (max-width: 1480px) {
    max-width: 1300px;
  }

  @media screen and (max-width: 1160px) {
    max-width: 800px;
  }

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
